# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Env files (สำคัญมาก)
# =========================
.env
.env.*
backend/.env
frontend/.env*

# =========================
# Build output
# =========================
dist/
build/
.next/
out/

# =========================
# Prisma
# =========================
prisma/migrations/*
!prisma/migrations/.gitkeep

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/